
.container {
    background-color: #E6E6E6;
    width: 300px;
}

.content {
    margin: 5px;
    font-family: Trebuchet MS, serif;
    overflow: hidden;
}

.prefix {
    padding-left: 3px;
    margin-top: 2px;
    font-size: 0.8rem;
    color: #6E6E6E;
    font-weight: bold;
}

header p:last-of-type {
    font-size: 1.2rem;
    color: #282828;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;

}

table {
    margin-top: 0;
}

.bar {
    margin-top: 5px;
    height: 0;
    width: 290px;
    border: solid 2px #BEBEBE;
    border-radius: 8px;
}

table tr:nth-of-type(3n-2) {
    font-size: 0.8rem;
    color: #6E6E6E;
    font-weight: bold;

}

select {

    color: #282828;
    background-color: #F0F0F0;
    padding: 5px;
    border: 1px solid #CCC;
    height: 34px;
    -moz-appearance: none;
    border-bottom: 2px solid #BE1E1E;
}

table tr:nth-of-type(3n-1) td:nth-last-child(1) {
    text-align: right;
}

table tr:nth-of-type(3n) {
    color: #BE1E1E;
    font-size: 0.8rem;
    font-weight: bold;
}

footer {
    width: 70%;
}

footer div {
    font-weight: bold;
    color: #282828;
    letter-spacing: 0.05rem;
}

img {
    height: 40px;
    float: right;
}

.link {
    margin-right: 15px;
    margin-bottom: 15px;
}

.link p {
    clear: both;
    text-transform: uppercase;
    text-align: right;
    font-size: 0.8rem;
    margin-right: 2px;
    font-weight: bold;
    color: #3DBD4D;
}

iframe {
    width: 320px;
    height: 387px;
}

