
.icon-flash:before { content: '\e800'; } /* '' */
.icon-off:before { content: '\e801'; } /* '' */
.icon-chart-bar:before { content: '\e802'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */